<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>treinamentoCRUD</display-name>

    <servlet>
        <servlet-name>TestadorDeConexao</servlet-name>
        <servlet-class>adaptacao.detran.treinamentocrud.config.ConexaoDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestadorDeConexao</servlet-name>
        <url-pattern>/teste-conexao</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProprietarioServlet</servlet-name>
        <servlet-class>adaptacao.detran.treinamentocrud.servelet.proprietario.ProprietarioServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProprietarioServlet</servlet-name>
        <url-pattern>/proprietario</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProprietarioServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>VeiculoServlet</servlet-name>
        <servlet-class>adaptacao.detran.treinamentocrud.servelet.veiculo.VeiculoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VeiculoServlet</servlet-name>
        <url-pattern>/veiculo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManagementServlet</servlet-name>
        <servlet-class>adaptacao.detran.treinamentocrud.servelet.ManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagementServlet</servlet-name>
        <url-pattern>/management</url-pattern>
    </servlet-mapping>

</web-app>